Create Feed Creation Endpoint

## POST /api/feeds

### Request Body

```javascript
{
  "source_name": "string", // ex: youtube
  "source_type": "string", // ex: channel, user, playlist
  "source_id": "string", // ex: TrumpSC
}
```

### Response

#### 201 Created

In the event the feed does not already exist, a 201 should be returned with the resource URI in the `Location` header.

#### 303 See Other

If the resource already exists (that is, there is already an existing feed with the same combination of `source_name`, `source_type` and `source_id`) then a 303 should be returned, with the URI of the existing resource added to the `Location` header.

Justification: RFC 7231 [Section 4.3.3](https://tools.ietf.org/html/rfc7231#section-4.3.3)

> If the result of processing a POST would be equivalent to a representation of an existing resource, an origin server MAY redirect the user agent to that resource by sending a 303 (See Other) response with the existing resource's identifier in the Location field.

## GET /api/feeds/:id

Depending on the state of the feed, a 200 or a 202 may be returned.

### Response

#### 200 OK

##### Body

```javascript
{
  "id": "uuid",
  "name": "string", // The resolved name of the feed
  "state": "string"
  "source_name": "string",
  "source_type": "string",
  "source_id": "string"
}
```

#### 202 Accepted

If the feed __has not__ completed its *initial* import, a 202 should be returned. The client may continue polling for the resource until processing has completed.


##### Body

```javascript
{
  "id": "uuid",
  "state": "string"
}
```


Merged #5 